@font-face {
  font-family: "BerkleyMono";
  src: url("assets/fonts/BerkeleyMono-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BerkleyMono";
  src: url("assets/fonts/BerkeleyMono-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BerkleyMono";
  src: url("assets/fonts/BerkeleyMono-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BerkleyMono";
  src: url("assets/fonts/BerkeleyMono-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

body {
}
p,
ul,
li {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-top: 1.5em;
  line-height: 1.2;
  font-weight: normal;
}
a:link,
a:visited {
  color: black;
}
a:active {
  color: gray;
}
h1 a:empty:before,
h2 a:empty:before,
h3 a:empty:before,
h4 a:empty:before,
h5 a:empty:before,
h6 a:empty:before {
  content: "#";
}
h1 a:empty,
h2 a:empty,
h3 a:empty,
h4 a:empty,
h5 a:empty,
h6 a:empty {
  visibility: hidden;
  padding-left: 0.25em;
}
h1:hover a:empty,
h2:hover a:empty,
h3:hover a:empty,
h4:hover a:empty,
h5:hover a:empty,
h6:hover a:empty {
  visibility: visible;
}
img {
  max-width: 100%;
}
figure {
  margin: 1em 0;
  text-align: center;
}
figcaption {
  font-size: small;
}
pre,
code,
samp,
kbd {
  font-family: monospace, monospace;
}
pre,
code,
kbd {
  color: #050;
}
samp {
  color: #730;
}
pre,
blockquote {
  background: #eee;
  padding: 0.5em;
}
pre {
  overflow: auto;
}
blockquote {
  border-left: medium solid #ccc;
  margin: 1em 0;
}
blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: thin solid #999;
  padding: 0.3em 0.4em;
  text-align: left;
}
