@font-face {
  font-family: "BerkleyMono";
  src: url("./assets/fonts/BerkeleyMono-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BerkleyMono";
  src: url("./assets/fonts/BerkeleyMono-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BerkleyMono";
  src: url("./assets/fonts/BerkeleyMono-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BerkleyMono";
  src: url("./assets/fonts/BerkeleyMono-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
}

body {
  color: #333;
  background: #e9e3d5;
  /* background: rgb(242, 242, 242); */
  font-family: "BerkleyMono", "Andale Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50em;
  padding: 2em;
}
p,
ul,
li {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-top: 1.5em;
  line-height: 1.2;
  font-weight: normal;
}
a:link,
a:visited {
  color: black;
}
a:active {
  color: gray;
}
h1 a:empty:before,
h2 a:empty:before,
h3 a:empty:before,
h4 a:empty:before,
h5 a:empty:before,
h6 a:empty:before {
  content: "#";
}
h1 a:empty,
h2 a:empty,
h3 a:empty,
h4 a:empty,
h5 a:empty,
h6 a:empty {
  visibility: hidden;
  padding-left: 0.25em;
}
h1:hover a:empty,
h2:hover a:empty,
h3:hover a:empty,
h4:hover a:empty,
h5:hover a:empty,
h6:hover a:empty {
  visibility: visible;
}
img {
  max-width: 100%;
}
figure {
  margin: 1em 0;
  text-align: center;
}
figcaption {
  font-size: small;
}
pre,
code,
samp,
kbd {
  font-family: monospace, monospace;
}
pre,
code,
kbd {
  color: #050;
}
samp {
  color: #730;
}
pre,
blockquote {
  background: #eee;
  padding: 0.5em;
}
pre {
  overflow: auto;
}
blockquote {
  border-left: medium solid #ccc;
  margin: 1em 0;
}
blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: thin solid #999;
  padding: 0.3em 0.4em;
  text-align: left;
}

.portrait-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  /* width: 30em; */
}
.portrait-container .caption {
  align-self: flex-start;
  font-size: 11px;
  margin-top: 8px;
  font-style: italic;
}
.portrait {
  width: 100%;
  height: auto;
}

.bullet {
  --bullet-color: white;
  position: relative;
  margin-left: 23px;
}
.bullet::before {
  position: absolute;
  border-radius: 100%;
  left: -20px;
  top: 8px;
  width: 5px;
  height: 5px;
  background: var(--bullet-color);
  content: " ";
}

.footnote {
  margin-top: 4em;
  font-size: 10px;
}

h1.intro {
  margin-top: 0.25em;
  text-transform: lowercase;
}
